{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="mt-5">My Account</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>Personal Information</h2>
            <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Phone Number: {{ user_profile.phone_number }}</p>
            <a href="{% url 'edit_user_profile' %}">Edit Personal Information</a>
        </div>

        <div class="col-md-6">
            <h2>Account Information</h2>
            <p>Account Number: {{ user_profile.account_number }}</p>
            <p>Balance: {{ balance }} {{ user_profile.currency }}</p>

            <h3>Recent Transactions</h3>
            <ul>
                {% for transaction in transactions %}
                    <li>{{ transaction.transaction_type }} {{ transaction.amount }} {{ transaction.account_number }}</li>
                {% endfor %}
            </ul>

            <a href="{% url 'transaction_history' %}">View Transaction History</a>
        </div>
    </div>
</div>

{% endblock %}